@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans');
@import 'tailwindcss';

/* main */

#root {
  display: block;
  height: 100%;
  width: 100%;
}

:root {
  --pokeColourBlue1: #2a75bb;
  --pokeColourBlue2: #3c5aa6;
  --pokeColourBlue3: #1d2c5e;
  --pokeColourYellow1: #ffcb05;
  --pokeColourYellow2: #c7a008;
  --pokeColourRed1: #cc0000;
  --pokeColourRed2: #ff0000;

  --linkColour: #000;
  --linkHoverColour: #fff;
  --linkHoverOpacity: 75%;

  --BtnRadius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

body {
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif !important;
  background-color: var(--pokeColourBlue1);
}

button {
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

ul {
  list-style-type: none;
}

li {
  background: none;
}

/* Logo */
h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -2px;
}

/* Titles */
h2 {
  font-size: 18px;
  font-weight: 600;
}

/* Names, Secondary Titles, Navbar Links */
h3 {
  font-size: 16px;
  font-weight: 600;
}

/* Names */
h4 {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-600);
}

/* Price */
h5 {
  font-size: 16px;
  font-weight: 600;
}

.center {
  margin: 0 auto;
}

.wrapper__content {
  max-width: 80%;
  margin: 0 auto;
  padding: 5px;
}

.layout {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 20px;
}

.section {
  margin: 0 auto;
  padding: 100px 25px;
  width: 100%;
  max-width: 480px;
}

/* home */

.home__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#home__pokestore--logo {
  width: 500px;
}

/* navbar */

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 20px 0;
  margin: 0 auto;
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
}

.navbar__primary--menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  li {
    padding: 0 20px;
  }

  a {
    text-decoration: none;
    transition: 0.2s;
    color: var(--linkColour);
  }

  a:hover {
    color: var(--linkHoverColour);
  }
}

.navbar__primary {
  display: flex;
  width: 20%;
}

.navbar__cart {
  display: flex;
  flex-direction: row;
  align-items: center;

  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 10px;
  padding: 10px;
  border: solid 2px var(--pokeColourYellow2);
  background-color: var(--pokeColourYellow1);
  border-radius: 10px;
  transition: 0.2s;

  &:hover {
    background-color: var(--pokeColourYellow2);
  }
}

.navbar__cart--btn {
  background: none;
  border: none;
  display: flex;
  align-items: center;
}

.navbar__cart--icon {
  height: 25px;
  color: #fff;

  &:hover {
    text-shadow: 10px 10px 10px #ccc;
  }
}

.navbar__cart--qty {
  text-decoration: none;
}

#navbar__pokestore--logo {
  width: 250px;
}

/* shop */

.shopCard__container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 4fr;
  background-color: var(--pokeColourYellow1);
  border-radius: 10px;
  padding: 5px;
}

.shopCard__img {
  height: 75px;
  width: 75px;
  grid-row: 1 / 5;
  grid-column: 1 / 2;
  align-self: center;
  justify-self: center;
}

.shopCard__name {
  margin: 0 auto;
  padding: 0.5em;
}

.shopCard__category {
  margin: 0 auto;
  padding: 0.5em;
}

.shopCard__price {
  padding: 0.5em;
  justify-self: center;
}

.shopCard__quantity__container {
  display: flex;
  justify-self: center;
  padding: 0.5em;
  width: 120px;
}

.shopCard__quantity {
  width: 100%;
  padding: 5px;
  margin: 0 auto;
  text-align: center;
}

.shopCard__addToCart {
  margin: 5px;
  padding: 5px;
  background-color: var(--pokeColourBlue1);
  transition: 0.2s;
  border-radius: 5px;
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif !important;
  color: #fff;
  width: 150px;
  justify-self: center;

  &:hover {
    background-color: var(--pokeColourBlue2);
  }
}

.shopCard__qty {
  background-color: var(--pokeColourRed2);
  width: 50px;
  color: var(--pokeColourYellow1);
  transition: 0.2s;

  &:hover {
    background-color: var(--pokeColourRed1);
  }
}

.shopCard__qty--decrease {
  border-top-left-radius: var(--BtnRadius);
  border-bottom-left-radius: var(--BtnRadius);
}

.shopCard__qty--increase {
  border-top-right-radius: var(--BtnRadius);
  border-bottom-right-radius: var(--BtnRadius);
}

.item__section {
  height: 100%;
  padding: 0 50px;
}

.shop__container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 18px;
}

/* searchbar */

.searchBar {
  border-radius: 10px;
  background-color: rgba(220, 220, 220);
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 10px;
  &:hover .searchBar__button {
    background-color: rgba(200, 200, 200);
  }

  &:hover .searchBar__input {
    background-color: rgba(200, 200, 200);
  }

  &:hover {
    background-color: rgba(200, 200, 200);
  }
}

.searchBar__form {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.searchBar__input {
  padding: 0 20px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: rgba(220, 220, 220);
  font-size: 18px;
}

.searchBar__button {
  background: none;
  border: none;
  padding-right: 10px;
}

/* side bar */

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
  background-color: grey;
  border-radius: 10px;
}

/* cart */

/* .cart__item__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border-bottom: solid 1px rgba(50, 50, 50, 0.5);
} */

.cart__body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart__item__img {
  height: 100px;
  width: 100px;
}

.cart__item {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
}

.cart__item > .cart__itemContent {
  width: 200px;
}

.cart__itemContent {
  display: grid;
  flex-direction: column;
}

.cart__item__remove {
  height: 30px;
  width: 30px;
  background-color: var(--pokeColourYellow1);
  border: solid 2px var(--pokeColourYellow2);
  font-size: 16px;
  border-radius: 5px;
  transition: 0.2s;
  display: flex;
  align-self: center;
  justify-content: center;

  &:after {
    content: '\00d7';
    color: var(--pokeColourRed1);
    font-weight: 900;
    align-self: center;
  }

  &:hover {
    background-color: var(--pokeColourYellow2);
  }
}

.cart__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.cart__header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: solid 2px var(--pokeColourYellow1);
  color: var(--pokeColourBlue3);
}

.cart__total {
  display: block;
  font-weight: 700;
  font-size: 28px;
  float: right;
  padding: 20px 0;
  color: aliceblue;
  margin: 0 auto;
}

#cart__checkout {
  float: right;
  background-color: brown;
  padding: 15px 20px;
  text-transform: uppercase;
  box-shadow:
    rgba(0, 0, 0, 0.3) 0px 8px 12px,
    rgba(0, 0, 0, 0.22) 0px 7px 6px;
  border: 1px solid;
  color: aliceblue;
  border: none;
  font-weight: 700;
  font-size: 16px;
  border-radius: 5px;
  display: block;
  clear: both;
  transition: 0.5s;
  max-width: 200px;
  margin: 0 auto;

  &:after {
    content: '\00bb';
    position: relative;
    opacity: 0;
    right: -15px;
    transition: 0.5s;
  }

  &:hover {
    padding-right: 20px;
  }

  &:hover:after {
    opacity: 1;
    right: -3px;
  }
}

@media (min-width: 960px) {
  .layout {
    display: grid;
    grid-template-columns:
      minmax(1rem, 1fr)
      minmax(0, 1200px)
      minmax(1rem, 1fr);
  }

  /* shop */

  #home,
  #shop,
  #cart {
    display: grid;
    width: 100%;
    grid-column: 2;
  }

  .shopCard__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--pokeColourYellow1);
    border-radius: 10px;
    padding: 10px;
  }

  .section {
    width: 100%;
    max-width: none;
    margin: 0;
  }

  .shop__container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: auto;
    grid-gap: 18px;
  }

  .shop__content {
    display: grid;
    grid-template-columns: 280px 1fr;
    max-width: 1200px;
    width: 100%;
  }

  .shop__filters {
    position: sticky;
    top: 1rem;
    margin-right: 20px;
    align-self: start;
  }

  .filter__subtitle {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }

  .filter__categories__container {
    display: flex;
    flex-direction: column;
  }

  .filter__categories__buttons {
    padding: 5px 0;
  }

  .filter__categories__button {
    padding: 10px;
  }

  .filter__price__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0;
  }

  .filter__priceInput {
    display: flex;
    flex-direction: row;
  }

  .filter__priceInput__desc {
    width: 100px;
  }

  /* searchbar */

  .searchBar {
    width: 100%;
  }

  /* cart */

  #cart__checkout {
    float: right;
    background-color: brown;
    padding: 15px 20px;
    text-transform: uppercase;
    box-shadow:
      rgba(0, 0, 0, 0.3) 0px 8px 12px,
      rgba(0, 0, 0, 0.22) 0px 7px 6px;
    border: 1px solid;
    color: aliceblue;
    border: none;
    font-weight: 700;
    font-size: 16px;
    border-radius: 5px;
    display: block;
    clear: both;
    transition: 0.5s;

    &:after {
      content: '\00bb';
      position: relative;
      opacity: 0;
      right: -15px;
      transition: 0.5s;
    }

    &:hover {
      padding-right: 20px;
    }

    &:hover:after {
      opacity: 1;
      right: -3px;
    }
  }
}
